.footer-section {
  background-color: #1b5e20;
  color: #e0f2f1;
  font-size: 15.2px;
  border-top: 5px solid #4caf50;
}

.footer-section h5 {
  color: #a5d6a7;
  font-weight: 600;
  margin-bottom: 16px;
}

.footer-links {
  list-style: none;
  padding: 0;
  line-height: 28.8px; 
}

.footer-links a {
  color: #cfd8dc;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social .i {
  font-size: 22.4px; 
 
  margin-right: 10px;
  color:white;
  transition: color 0.3s ease;
}



